<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-success shadow">
        <a class="navbar-brand text-white" href="/">Customer Care</a>
    </nav>
    <section class="bg-white py-5">
        <div class="container">
            <h2 class="text-center mb-5">ABOUT</h2>
            <div data-aos="zoom-in">
                <p>Excellent customer service is the number one job in any company! We focus on treating customers well,
                    answering questions and exceeding expectations.</p>
            </div>
        </div>
    </section>


</body>

</html>